
html {
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	color: #333;
}

@media only screen and (max-width: 26rem) {
	html {
		font-size: 16px;
	}
}

body {
	margin: 0;
}

header, main, footer {
	display: block;
}

.page-root {
	min-height: 100vh;
	position: relative;
	padding-bottom: 3rem;
	box-sizing: border-box;
	position: relative;
}

footer {
	position: absolute;
	font-size: .85rem;
	bottom: 1rem;
	left: 0;
	right: 0;
	line-height: 1;
}

.content {
	max-width: 52rem;
	padding: 0 2rem;
}

@media (max-width: 26rem) {
	.content {
		padding: 0 1rem;
	}
}

p {
	margin-bottom: 1.5em;
}

.header {
	margin-top: 3em;
	margin-bottom: 1.5em;
}

.page-title {
	font-size: 2.5em;
	text-align: center;
}

@media (max-width: 26rem) {
	.page-title {
		font-size: 2rem;
	}
}

.footer {
	margin-top: 3em;
}

.container.mod-center {
	display: flex;
	justify-content: center;
}

.on-the-internet {
	width: 100%;
}

.list {
}

.list.mod-full-width {
	width: 100%;
}

.list.mod-horiz {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 26rem) {
	.list.mod-horiz {
		display: block;
	}

	.list.mod-horiz > .list-item {
		display: block;
		text-align: center;
		margin: 1rem 0 0;
	}
}

.on-the-internet-headline {
	text-align: center;
	margin-bottom: .5rem;
}

.logo {
	display: inline-block;
	width: 1.25rem;
	line-height: 1;
	vertical-align: middle;
}

a {
	color: hsla(107, 70%, 35%, 1);
	fill: hsla(107, 70%, 35%, 1);
	text-decoration: none;
}

a:hover {
	color: hsla(107, 70%, 50%, 1);
	fill: hsla(107, 70%, 50%, 1);
}

.blog-highlights {
	margin-top: 2rem;
}
