<header class="header">
  <h1 class="page-title">Alex Gherghișan</h1>
</header>

<main class="container mod-center">
  <div class="">
    <div class="on-the-internet">
      <div class="on-the-internet-headline">
        <p>Hi! I'm a Software Developer in the UK</p>
        <p>Me on the Internet</p>
      </div>
      <ul class="list mod-horiz mod-full-width">
        <li class="list-item">
          <a href="https://github.com/alexghr">
            <span class="logo">
              {{>logoGithub}}
            </span>
            Github
          </a>
        </li>
        <li class="list-item">
          <a href="https://gitlab.com/alexghr">
            <span class="logo">
              {{>logoGitLab}}
            </span>
            GitLab
          </a>
        </li>
        <li class="list-item">
          <a href="https://twitter.com/@_alexghr">
            <span class="logo">
              {{>logoTwitter}}
            </span>
            Twitter
          </a>
        </li>
      </ul>
    </div>

    <div class="blog-highlights">
      <div class="blog-highlights-latest">
        I have a tech blog. These are the latest things that I've wrote:

        <ul class="list">
          {{#env.posts}}
          <li class="list-item">
            <a href="{{url}}">
              {{pageTitle}}
            </a>
            &middot;
            <i>
              {{#env.printDate}}
                {{date}}, MMMM YYYY
              {{/env.printDate}}
            </i>
          </li>
          {{/env.posts}}
        </ul>
      </div>

      <div class="blog-highlights-archive">
        Or check out the whole <a href="/blog">archive</a>
      </div>
    </div>
  </div>
</main>
